@model IEnumerable<Fliek.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Movie </th>
        <th>Release Year</th>
        <th>Rating</th>
        <th>Genre</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@Html.ActionLink(d.MovieName, "details","Movies", new { id = d.Id }, null)</td>
            <td>@d.ReleaseDate</td>
            <td>@d.Rating</td>
            <td>@d.GenreType.Genre</td>

        </tr>

    }
</table>


